body, html {
  background-color: #263238;  /* Fondo oscuro */
  color: #ffffff;             /* Texto blanco */
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 30px auto;
}

h2, h3 {
  color: #26a69a;             
}

input, button {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

input {
  background-color: #37474f;  
  color: #ffffff;
  border: 1px solid #455a64;
}

input::placeholder {
  color: #90a4ae;            
}

button {
  background-color: #00bcd4;  
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #087dc0fa;  
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #37474f;  
  color: #ffffff;
}

th, td {
  padding: 8px;
  border: 1px solid #455a64;  
  text-align: left;
}

th {
  background-color: #546e7a; 
  color: #ffffff;
}

#totalVentas {
  color: #00e676;             
  margin-top: 15px;
}

/* Botón rojo claro para PDF */
.btn-pdf {
  background-color: #ef9a9a; 
  color: #ffffff;
}

.btn-pdf:hover {
  background-color: #e57373;  /* más intenso al pasar el mouse */
}

/* Botón verde claro para Excel */
.btn-excel {
  background-color: #a5d6a7; 
  color: #ffffff;
}

.btn-excel:hover {
  background-color: #81c784;  /* más intenso al pasar el mouse */
}

/* Contenedor centrado */
.export-buttons {
  text-align: center;
  margin-top: 20px;
}

/* Botones de exportación más pequeños */
.btn-pdf,
.btn-excel {
  width: 150px;
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Centrar completamente el menú principal */
#menuPrincipal {
  height: 100vh; /* altura completa del viewport */
  display: flex;
  flex-direction: column;
  justify-content: center; /* centra verticalmente */
  align-items: center;     /* centra horizontalmente */
  text-align: center;
  animation: fadeIn 0.8s ease-in-out;
}

/* Título del menú */
#menuPrincipal h2 {
  margin-bottom: 30px;
  font-size: 32px;
  color: #eaebeb;
}

/* Estilo de los botones */
#menuPrincipal button {
  width: 220px;
  padding: 14px 24px;
  margin: 10px 0;
  font-size: 18px;
  background-color: #1976d2; /* azul moderno */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

/* Hover con animación */
#menuPrincipal button:hover {
  background-color: #1565c0;
  transform: scale(1.05);
}

/* Animación de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
